<div class="modal-header">
    <h4 class="modal-title">Delete Confirmation</h4>
    <div>
        <i class="fe fe-x black-menu" (click)="activeModal.dismiss()" title="Close"></i>
    </div>
</div>
<div class="modal-body">
    <ngb-alert *ngIf="alertMessage" [type]="messageType" (closed)="showMsg(false, '')">
        {{ alertMessage }}
    </ngb-alert>
    {{ message }}
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-sm btn-light" (click)="activeModal.dismiss()">
        <i class="fe fe-x me-2"></i>Close</button>
    <button class="btn btn-sm btn-danger" [disabled]="(httpService.getLoading('actionDeleteLoader') | async)"
        (click)="delete()">
        <ng-container *ngIf="(httpService.getLoading('actionDeleteLoader') | async)">
            <span class="spinner-border spinner-border-sm me-2" role="status"></span>
            <span>Deleting ...</span>
        </ng-container>
        <ng-container *ngIf="!(httpService.getLoading('actionDeleteLoader') | async)">
            <i class="fe fe-trash-2 me-2"></i>
            <span>Delete</span>
        </ng-container>
    </button>
</div>