<div class="container">
    <ngb-alert *ngIf="message" [type]="messageType" (closed)="showMsg(false, '')">
        {{ message }}
    </ngb-alert>
    <div class="justify-content-between align-items-center mb-4 row">
        <div class="col-xl-7 col-md-9 col-12">
            <h2 class="mb-2">Change your password</h2>
            <p class="text-muted mb-xl-0">We will email you a confirmation when changing your password, so please expect
                that email after submitting.</p>
        </div>
        <div class="col-xl-auto col-12">
            <button class="btn btn-white" [disabled]="(authService.isAuthLoading$ | async)" (click)="forget()">
                <ng-container *ngIf="(authService.isAuthLoading$ | async)">
                    <span class="spinner-border spinner-border-sm me-3" role="status"></span>
                    <span>Sending Reset Email...</span>
                </ng-container>
                <ng-container *ngIf="!(authService.isAuthLoading$ | async)">
                    <span>Forgot your password?</span>
                </ng-container>
            </button>
        </div>
    </div>
    <form class="form" [formGroup]="form" novalidate="novalidate">
        <div class="row">
            <div class="order-md-2 col-md-6 col-12">
                <div class="bg-light border ml-md-4 card">
                    <div class="card-body">
                        <p class="mb-2">Password requirements</p>
                        <p class="small text-muted mb-2">To create a new password, you have to meet all of the following
                            requirements:</p>
                        <ul class="small text-muted ps-4 mb-0">
                            <li>Minimum 8 characters</li>
                            <li>At least one special character</li>
                            <li>At least one number</li>
                            <li>Can’t be the same as a previous password</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="form-group">
                    <div class="form-floating">
                        <input type="password" class="form-control" formControlName="CurrentPassword"
                            placeholder="CurrentPasswordPlaceholder"
                            [ngClass]="{'is-invalid': submitted && f['CurrentPassword'].invalid, 'is-valid': submitted && f['CurrentPassword'].valid}">
                        <label class="form-label">Current Password</label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-floating">
                        <input type="password" class="form-control" formControlName="NewPassword"
                            placeholder="NewPasswordPlaceholder"
                            [ngClass]="{'is-invalid': submitted && f['NewPassword'].invalid, 'is-valid': submitted && f['NewPassword'].valid}">
                        <label class="form-label">New Password</label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-floating">
                        <input type="password" class="form-control" formControlName="ConfirmNewPassword"
                            placeholder="ConfirmNewPasswordPlaceholder"
                            [ngClass]="{'is-invalid': submitted && f['ConfirmNewPassword'].invalid, 'is-valid': submitted && f['ConfirmNewPassword'].valid}">
                        <label class="form-label">Confirm New Password</label>
                    </div>
                </div>
                <button class="lift w-100 btn btn-custom" [disabled]="(authService.isChangeLoading$ | async)"
                    (click)="change()">
                    <ng-container *ngIf="(authService.isChangeLoading$ | async)">
                        <span class="spinner-border spinner-border-sm me-3" role="status"></span>
                        <span>Updating Password...</span>
                    </ng-container>
                    <ng-container *ngIf="!(authService.isChangeLoading$ | async)">
                        <span>Update Password</span>
                    </ng-container>
                </button>
            </div>
        </div>
    </form>
</div>